:root{

    --first-color: hsl(244, 75%, 57%);
    --second-color: hsl(249, 64%, 47%);
    --title-color: hsl(244, 12%, 12%);
    --text-color: hsl(244, 4%, 36%);

    --body-font: 'Poppins', sans-serif;

    --h1-font-size: 2rem;
    --text-font-size: 1rem;
    --smaller-font-size: 0.875rem;
}